.left-container{
    height: 100%;
    width: 100%;
    background-color: #FDE3D9;
}

.logo{
    background: url('../images/Cat-N-Dog-Logo.png');
    background-repeat: no-repeat;
    background-size:cover;
    width: 180px;
    height: 60px;
    top: 15px;
    left:20px;
    position: relative  ;
}

.left-heading{
    left: 40px;
    width: 80%;
    max-width: 400px;
    position: relative;
    color:#3E3E3E;
    font-size: 30px;
    top:220px;
}

.left-content{
    position: relative;
    color: #6D6D6D;
    width: 70%;
    max-width: 380px;
    font-size: 12px;
    left:40px;
    top: 240px;
}

.app-store-badge{
    width: 104px;
    height: 35px;
    background: url('../images/AppStoreBadge.png');
    background-size:cover;
    opacity: 1;
    left:40px;
    position: relative;
    top: 270px;
}
/*.left-container>a{
    bottom: 55px;
    position: absolute;

}*/

.play-store-badge{
    left : 160px;
    top: 227px;
    width: 130px;
    height: 50px;
    background: url('../images/google-play-badge.png');
    background-size: cover;
    opacity: 1;
    position: relative;

}