.slider-container {
  position: relative;
  /*height: 500px;*/
  height: 100%;
  width: 100%;
  min-width: 500px;
  /*max-width:500px;*/
  /*border: 5px solid red;*/
  overflow: hidden;
}

.slider-flex {
  display: flex;
  height: 100%;
  width: 200%;
  /*transform: translateX(-500px);
    transition: transform ease-out 1s;*/
}

.image_cont {
  height: 100%;
  width: 50%;
}

.img1 {
  background: url('../../images/dog1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.img2 {
  background: url('../../images/dog2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.content_on_image {
  top: 100px;
  left: 10px;
  color: blue;
}

.overlay_data {
  position: absolute;
  top: 20px;
  left: 50px;
  color: yellowgreen;
  z-index: 1;
  opacity: 1;
}

.dotfill {
  border-radius: 50%;
  background-color: white;
  height: 8px;
  width: 8px;
  display: inline-block;
}

.dot {
  background-color: grey;
  height: 5px;
  width: 5px;
  border: 1px solid #fee7de;
  border-radius: 3px;
  display: inline-block;
}

.progress {
  position: absolute;
  bottom: 80px;
  left: 100px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  z-index: 1;
  gap: 5px;
}
